# Если называешь исполняемый файл по имени папки, можно добавить конкретное имя:
main
*.exe
*.exe~
*.dll
*.so
*.dylib

# Логи
*.log

# Зависимости (vendor)
# В Go зависимости обычно скачиваются в кеш, но если ты используешь 'go mod vendor',
# папку vendor лучше игнорировать (по желанию).
vendor/

# Переменные окружения и секреты
.env
.env.local

# Временные файлы и кеш IDE
.idea/
.vscode/
*.swp
*.DS_Store

# Front-end
/node_modules
